<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from static %}
    <meta charset="UTF-8">
    <title>Canasta</title>
    <link rel="shortcut icon" href="{% static 'img/avocado.png' %}"  type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/stylesbasket.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
<body>
    <header>
        <nav>
            <a href="#sobre-nosotros">Sobre nosotros</a>
            <a href="{% url 'profile' %}">Búsqueda</a>
            <a href="{% url 'recom' %}">Recomendaciones</a>
            <a href="/logout">Log out</a>
        </nav>
        <section class="textos-header">

            <img src="{% static 'img/avocado.svg' %}">
            <h1>C A N A S T A</h1>
            <h2>Encuentra aquí todos tus productos</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 333.18,146.15 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #f2f2f2;"></path></svg></div>
    </header>
    <main>

        <section class="contenedor">
            <div align="center">
                <!--<img class="cesta" src="{% static 'img/arriba.svg' %}">-->
                <br>
            </div>
            <div class="clients">
            <div class="cards">
                {%for producto in productos%}
                <div class="card">
                    <img src="{{producto.imagen}}">
                    <div class="contenido-texto-card">
                        <h4>{{producto.nombre}}</h4>
                        <p>{{producto.descripcion}}</p>
                    </div>
                </div>
                {%empty%}
                <div class="card">
                    <img src="{% static 'img/face3.jpg' %}">
                    <div class="contenido-texto-card">
                        <h4>No has agregado ningún producto a la canasta</h4>
                        <p>Puedes agregar un producto a la canasta dando clic <a href = "{% url 'profile' %}">aqui</a>, buscando un producto y dando clic en el simbolo mas</p>
                    </div>
                </div>
                {%endfor%}
            </div>
            </div>
            <br>
            <br>
        </section>
    </main>
    <footer>
                <div class="contenedor-footer">
                    <div class="content-foo">
                        <h4>Santiago Bolaños</h4>
                        <p>js.bolanos11</p>
                    </div>
                    <div class="content-foo">
                        <h4>Sebastian Gomez</h4>
                        <p>js.gomez23</p>
                    </div>
                    <div class="content-foo">
                        <h4>Michel Succar</h4>
                        <p>m.sucar</p>
                    </div>
                    <div class="content-foo">
                        <h4>Santiago Tenjo</h4>
                        <p>ds.tenjo</p>
                    </div>
                </div>
                <h2 class="titulo-final">Diseño e Innovación de Productos con TI</h2>
            </footer>
</body>
</html>