<!DOCTYPE html>
<html lang="en">
<head>
   {% load static from static %}
    <meta charset="UTF-8">
    <title>Zamna</title>
    <link rel="shortcut icon" href="{% static 'img/avocado.png' %}"  type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/stylesprofile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<form method="POST">
    {%csrf_token%}
    <br>
    {{ form.as_p }}
     <button type="submit" class="btn btn-success waves-effect waves-light">Enviar
     </button>
</form>
</body>
</html>