<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="{% static 'img/avocado.png' %}"  type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/stylesprofile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
<body>
    <header>
        <nav>
            <a href="#sobre-nosotros">Sobre nosotros</a>
            <a href="{% url 'basket' %}">Tu canasta</a>
            <a href="{% url 'recom' %}">Recomendaciones</a>

            <a href="/logout">Log out</a>
        </nav>
        <section class="textos-header">

            <img src="{% static 'img/avocado.svg' %}">
            <br>
            <h1>Z A M N A</h1>
            <h2>Bienvenido, Santiago Bolaños Vega</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 333.18,146.15 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ffffff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor busqueda">
            <div class="contenedor-busqueda">
                <img class="img-busqueda" src="{% static 'img/buscar1.svg' %}">
                <div class="contenido-textos">
                    <h1>Busca los productos que estés interesado/a en conocer:</h1>
                    <br>
                    <div class="box">
                        <div class="container-1">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <form action = "{% url 'productosLista' %}"method="GET">
                                <input type="search" id="search" name = 'searching' placeholder="Nombre del producto..." />
                            </form>

                        </div>
                    </div>
                    <br>
                    <p>Conocer tus preferencias nos ayudara a entender mejor tus hábitos de consumo y poder hacerte mejores recomendaciones</p>

                    <ul>
                    {%for producto in productos%}
                        <form action="{% url 'agregarProducto' %}" method="GET">
                            <li><input type="hidden" name="productId" value = "{{producto.id}}"> {{producto.nombre}} <input class="add" type="submit" name = '{{producto.id}}'value="+"/></li>
                        </form>
                    {%endfor%}
                    </ul>

                </div>
            </div>
        </section>
        <br>
        <br>
    </main>
    <footer>
                <div class="contenedor-footer">
                    <div class="content-foo">
                        <h4>Santiago Bolaños</h4>
                        <p>js.bolanos11</p>
                    </div>
                    <div class="content-foo">
                        <h4>Sebastian Gomez</h4>
                        <p>js.gomez23</p>
                    </div>
                    <div class="content-foo">
                        <h4>Michel Succar</h4>
                        <p>m.sucar</p>
                    </div>
                    <div class="content-foo">
                        <h4>Santiago Tenjo</h4>
                        <p>ds.tenjo</p>
                    </div>
                </div>
                <h2 class="titulo-final">Diseño e Innovación de Productos con TI</h2>
            </footer>
</body>
</html>