<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="{% static 'img/avocado.png' %}"  type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/stylesprofile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
<body>
    <header>
        <nav>
            <a href="#sobre-nosotros">Sobre nosotros</a>
            <a href="#nuestras-tecnologias">Tu canasta</a>
            <a href="#servicios">Recomendaciones</a>
            <a href="/logout">Log out</a>
        </nav>
        <section class="textos-header">

            <img src="{% static 'img/avocado.svg' %}">
            <br>
            <h1>Z A M N A</h1>

            <h2>Bienvenido, Santiago Bolaños Vega</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 333.18,146.15 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ffffff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor busqueda">
            <div class="contenedor-busqueda">
                <img class="img-busqueda" src="{% static 'img/buscar1.svg' %}">
                <div class="contenido-textos">
                    <h1>Busca los productos que estés interesado/a en conocer:</h1>
                    <br>
                    <div class="box">
                        <div class="container-1">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="search" id="search" placeholder="Nombre del producto..." />
                        </div>
                    </div>
                    <br>
                    <p>Conocer tus preferncias nos aydara a entender mejor tus hábitos de consumo y poder hacerte mejores recomendaciones</p>
                </div>
            </div>
        </section>

    </main>
</body>
</html>